Repository discordeno/Discordeno: changes, and which Codecov flags are due for each by the changed paths.
All: client-unit, discordeno-unit, embeds-unit, gatway-unit, logger-unit, rest-unit, utils-unit, cache_plugin-unit, fileloader_plugin-unit, permissions_plugin-unit, utils_plugin-unit, validations_plugin-unit

codecov.yml:

flags:
  client-unit:
    paths:
      - packages/client
    carryforward: false
  discordeno-unit:
    paths:
      - packages/discordeno
    carryforward: false
  embeds-unit:
    paths:
      - packages/embeds
    carryforward: false
  gatway-unit:
    paths:
      - packages/gatway
    carryforward: false
  logger-unit:
    paths:
      - packages/logger
    carryforward: false
  rest-unit:
    paths:
      - packages/rest
    carryforward: false
  utils-unit:
    paths:
      - packages/utils
    carryforward: false
  cache_plugin-unit:
    paths:
      - packages/plugins/utils
    carryforward: false
  fileloader_plugin-unit:
    paths:
      - packages/plugins/fileloader
    carryforward: false
  permissions_plugin-unit:
    paths:
      - packages/plugins/permissions
    carryforward: false
  utils_plugin-unit:
    paths:
      - packages/plugins/utils
    carryforward: false
  validations_plugin-unit:
    paths:
      - packages/plugins/validations
    carryforward: false
comment:
  show_carryforward_flags: true

[Scheduled] Auto patch objects
  cache/cachedObject/announcement-channel.json
  cache/cachedObject/guild.json
  cache/cachedObject/member.json
  cache/cachedObject/message.json
  cache/cachedObject/moderator-channel.json
  cache/cachedObject/role.json
  cache/cachedObject/rules.json
  cache/cachedObject/stage-channel.json
  cache/cachedObject/text-channel.json
  cache/cachedObject/user.json
  cache/cachedObject/voice-channel.json
Due: none

fix: remove validations from helpers. Closes #2700
  packages/plugins/validations/mod.ts
  packages/plugins/validations/src/channels/mod.ts
  packages/plugins/validations/src/guilds/events/createScheduledEvent.ts
  packages/plugins/validations/src/guilds/events/mod.ts
  packages/plugins/validations/src/guilds/mod.ts
  packages/plugins/validations/src/members/mod.ts
  packages/plugins/validations/src/messages/deleteMessages.ts
  packages/plugins/validations/src/messages/mod.ts
  packages/rest/src/helpers/channels/createChannel.ts
  packages/rest/src/helpers/channels/editChannelPositions.ts
  packages/rest/src/helpers/emojis/createEmoji.ts
  packages/rest/src/helpers/guilds/editGuild.ts
  packages/rest/src/helpers/guilds/events/createScheduledEvent.ts
  packages/rest/src/helpers/guilds/events/editScheduledEvent.ts
  packages/rest/src/helpers/guilds/events/getScheduledEventUsers.ts
  packages/rest/src/helpers/guilds/getAuditLog.ts
  packages/rest/src/helpers/guilds/getPruneCount.ts
  packages/rest/src/helpers/members/getDmChannel.ts
  packages/rest/src/helpers/members/pruneMembers.ts
  packages/rest/src/helpers/members/searchMembers.ts
  packages/rest/src/helpers/messages/deleteMessages.ts
  packages/rest/src/helpers/messages/getMessages.ts
  packages/rest/src/helpers/templates/createGuildTemplate.ts
  packages/rest/src/helpers/templates/editGuildTemplate.ts
  packages/rest/src/noCheckHelpers/members/fetchMembers.ts
  packages/rest/src/noCheckHelpers/templates/createGuildFromTemplate.ts
Due: rest-unit, validations_plugin-unit

fix: esm import with .js
  packages/utils/src/typeguards.ts
Due: utils-unit

test: add exception case
  packages/client/tests/handlers.spec.ts
Due: client-unit

chore: change script name
  .github/workflows/package-test.yml
  .github/workflows/test.yml
  package.json
  packages/client/package.json
  packages/constant/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/plugins/cache/package.json
  packages/plugins/fileloader/package.json
  packages/plugins/permissions/package.json
  packages/plugins/utils/package.json
  packages/plugins/validations/package.json
  packages/rest/package.json
  packages/transformer/package.json
  packages/utils/package.json
  turbo.json
Due: client-unit, discordeno-unit, rest-unit, utils-unit, cache_plugin-unit, fileloader_plugin-unit, permissions_plugin-unit, utils_plugin-unit, validations_plugin-unit

chore: add path fixing to coverage file
  packages/client/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/rest/package.json
  packages/transformer/package.json
  packages/utils/package.json
  scripts/coveragePathFixing.js
Due: client-unit, discordeno-unit, rest-unit, utils-unit

fix: camelize tuple bug
  packages/types/src/shared.ts
Due: none

fix: reverse transformers
  packages/transformer/src/snake/activity.ts
  packages/transformer/src/snake/application.ts
  packages/transformer/src/snake/applicationCommand.ts
  packages/transformer/src/snake/applicationCommandOption.ts
  packages/transformer/src/snake/applicationCommandOptionChoice.ts
  packages/transformer/src/snake/applicationCommandPermission.ts
  packages/transformer/src/snake/attachment.ts
  packages/transformer/src/snake/automodActionExecution.ts
  packages/transformer/src/snake/automodRule.ts
  packages/transformer/src/snake/channel.ts
  packages/transformer/src/snake/emoji.ts
  packages/transformer/src/snake/gatewayBot.ts
  packages/transformer/src/snake/guild.ts
  packages/transformer/src/snake/index.ts
  packages/transformer/src/snake/member.ts
  packages/transformer/src/snake/role.ts
  packages/transformer/src/snake/sticker.ts
  packages/transformer/src/snake/team.ts
  packages/transformer/src/snake/welcomeScreen.ts
  packages/transformer/src/snake/widget.ts
  packages/transformer/src/snake/widgetSettings.ts
  packages/transformer/src/transformers/channel.ts
  packages/transformer/src/transformers/emoji.ts
Due: none

fix: transformers folder to camel
  packages/transformer/src/camel/activity.ts
  packages/transformer/src/camel/application.ts
  packages/transformer/src/camel/applicationCommand.ts
  packages/transformer/src/camel/applicationCommandOption.ts
  packages/transformer/src/camel/applicationCommandOptionChoice.ts
  packages/transformer/src/camel/applicationCommandPermission.ts
  packages/transformer/src/camel/attachment.ts
  packages/transformer/src/camel/automodActionExecution.ts
  packages/transformer/src/camel/automodRule.ts
  packages/transformer/src/camel/channel.ts
  packages/transformer/src/camel/emoji.ts
  packages/transformer/src/camel/gatewayBot.ts
  packages/transformer/src/camel/guild.ts
  packages/transformer/src/camel/index.ts
  packages/transformer/src/camel/member.ts
  packages/transformer/src/camel/role.ts
  packages/transformer/src/camel/sticker.ts
  packages/transformer/src/camel/team.ts
  packages/transformer/src/camel/welcomeScreen.ts
  packages/transformer/src/camel/widget.ts
  packages/transformer/src/camel/widgetSettings.ts
  packages/transformer/src/index.ts
Due: none

fix: transformers as an object
  packages/transformer/src/index.ts
Due: none

fix: linter error
  packages/transformer/src/snake/sticker.ts
Due: none

ci: run test with deno close #2701
  .github/workflows/package-test.yml
  .gitignore
  denoImportMap.json
  examples/bigbot/package.json
  package.json
  packages/client/package.json
  packages/client/tests/handlers.spec.ts
  packages/client/tests/transformers.spec.ts
  packages/constant/package.json
  packages/discordeno/package.json
  packages/embeds/package.json
  packages/gateway/package.json
  packages/logger/package.json
  packages/plugins/cache/package.json
  packages/plugins/fileloader/package.json
  packages/plugins/permissions/package.json
  packages/plugins/utils/package.json
  packages/plugins/validations/package.json
  packages/rest/package.json
  packages/rest/tests/RestRequestRejection.spec.ts
  packages/rest/tests/checkRateLimits.spec.ts
  packages/rest/tests/processRateLimitedPaths.spec.ts
  packages/rest/tests/simplifyUrl.spec.ts
  packages/transformer/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/utils/src/token.ts
  packages/utils/src/verifySignature.ts
  packages/utils/tests/base64.spec.ts
  packages/utils/tests/bigint.spec.ts
  packages/utils/tests/collection.spec.ts
  packages/utils/tests/hash.spec.ts
  packages/utils/tests/token.spec.ts
  packages/utils/tests/utils.spec.ts
  packages/utils/tests/validateLength.spec.ts
  packages/utils/tests/verifySignature.spec.ts
  scripts/fixDenoTestExtension.js
  turbo.json
  yarn.lock
Due: client-unit, discordeno-unit, embeds-unit, logger-unit, rest-unit, utils-unit, cache_plugin-unit, fileloader_plugin-unit, permissions_plugin-unit, utils_plugin-unit, validations_plugin-unit

fix: test depends on build
  .github/workflows/package-test.yml
  turbo.json
Due: none

fix: deno import node:crypto
  denoImportMap.json
Due: none

fix: channel type
  packages/transformer/src/camel/channel.ts
  packages/transformer/src/snake/channel.ts
  packages/types/src/discord.ts
Due: none

fix: export user
  packages/transformer/src/index.ts
Due: none

chore: move to unit dir
  packages/rest/package.json
  packages/rest/tests/unit/RestRequestRejection.spec.ts
  packages/rest/tests/unit/checkRateLimits.spec.ts
  packages/rest/tests/unit/cleanupQueues.spec.ts
  packages/rest/tests/unit/processRateLimitedPaths.spec.ts
  packages/rest/tests/unit/processRequestHeaders.spec.ts
  packages/rest/tests/unit/simplifyUrl.spec.ts
  packages/rest/tests/unit/utils.spec.ts
Due: rest-unit

test: moving bench
  .gitignore
  bench/mod.ts
  denoImportMap.json
  packages/discordeno/src/bot.ts
  packages/transformer/bench/index.ts
  packages/transformer/package.json
  scripts/fixBenchExtension.js
  yarn.lock
Due: discordeno-unit

fix: move toggle transformers to bot pkg
  packages/bot/transformers/toggles/ToggleBitfield.ts
  packages/bot/transformers/toggles/emoji.ts
  packages/bot/transformers/toggles/guild.ts
  packages/bot/transformers/toggles/index.ts
  packages/bot/transformers/toggles/member.ts
  packages/bot/transformers/toggles/role.ts
  packages/bot/transformers/toggles/user.ts
  packages/bot/transformers/toggles/voice.ts
Due: none

fix: move out gw helpers to gw package
  packages/gateway/src/noCheckHelpers/guilds/getGuild.ts
  packages/gateway/src/noCheckHelpers/guilds/voice/connectToVoiceChannel.ts
  packages/gateway/src/noCheckHelpers/guilds/voice/leaveVoiceChannel.ts
  packages/gateway/src/noCheckHelpers/members/fetchMembers.ts
  packages/gateway/src/noCheckHelpers/misc/editBotStatus.ts
  packages/gateway/src/noCheckHelpers/misc/editShardStatus.ts
  packages/gateway/src/noCheckHelpers/templates/createGuildFromTemplate.ts
Due: none

test: add rest e2e test
  .github/workflows/e2e-test.yml
  .github/workflows/other-runtime-package-test.yml
  .github/workflows/test.yml
  codecov.yml
  package.json
  packages/eslint-config-discordeno/index.js
  packages/rest/package.json
  packages/rest/src/helpers/channels/createChannel.ts
  packages/rest/src/restManager.ts
  packages/rest/src/transformer.ts
  packages/rest/tests/e2e/utils.ts
  packages/rest/tests/e2e/webhook.spec.ts
  turbo.json
  yarn.lock
Due: rest-unit

fix: syntex
  .github/workflows/other-runtime-package-test.yml
  .github/workflows/test.yml
Due: none

ci: add discord token
  .github/workflows/e2e-test.yml
  packages/rest/tests/e2e/utils.ts
Due: rest-unit

fix: ci not passing secret
  .github/workflows/test.yml
Due: none

test: add role test
  packages/rest/package.json
  packages/rest/tests/e2e/role.spec.ts
  packages/rest/tests/e2e/webhook.spec.ts
Due: rest-unit

ci: fix secret inherit
  .github/workflows/test.yml
Due: none

fix: role helpers transformer
  .github/workflows/test.yml
  packages/rest/src/helpers/roles/createRole.ts
  packages/rest/src/helpers/roles/editRole.ts
  packages/rest/src/helpers/roles/editRolePositions.ts
  packages/rest/src/helpers/roles/getRoles.ts
Due: rest-unit

test: increase timeout to 10s
  packages/rest/package.json
Due: rest-unit

fix: member helpers transformer
  packages/rest/src/helpers/members/editBotMember.ts
  packages/rest/src/helpers/members/editMember.ts
  packages/rest/src/helpers/members/getMember.ts
  packages/rest/src/helpers/members/getMembers.ts
  packages/rest/src/helpers/members/searchMembers.ts
Due: rest-unit

test: add member test
  packages/rest/tests/e2e/member.spec.ts
Due: rest-unit

fix: name and type
  packages/rest/tests/e2e/role.spec.ts
  packages/rest/tests/e2e/webhook.spec.ts
Due: rest-unit

fix: guild ban
  packages/rest/src/helpers/guilds/getBan.ts
  packages/rest/src/helpers/guilds/getBans.ts
Due: rest-unit

test: fix test
  packages/rest/tests/e2e/member.spec.ts
Due: rest-unit
